* {
    font-family: $primary-font;
    color: $primary-color-grey;
    box-sizing: border-box;
  }
  
  p {
    line-height: $paragraphs;
  }
  
  a {
    text-decoration: $no-underline;
  }

  @media (min-width: 768px) {
    .centered {
      @include display;
    }
  }
